browsers/PythonQT5/__pycache__/*
providers/__pycache__/*
providers/Slurm/__pycache__/*
providers/HomeDirectory/__pycache__/*
providers/Modules/__pycache__/*
providers/ResearchComputingAtIU/__pycache__/*
.DS_Store
providers/Accounts/__pycache__/*
media/t/*

